a {
	text-decoration: none;
}
/*오른쪽 퀵메뉴*/
#quick_wrap {
	position: relative;
	width: 1000px;
	height: 0;
	margin: 0 auto;
}

#quick_right_menu {
	position: absolute;
	left: 50%;
	margin-left: 530px;
	top: 0;
}

#quick_right_menu ul li {
	margin: 3px;
	background: #175deb;
	border-radius: 100px;
	float: left;
}

#quick_right_menu ul li.gray {
	background: #a5a5a5;
	border-radius: 100px;
}

#quick_right_menu ul li.white {
	background: #fff;
	border-radius: 100px;
}

#quick_right_menu ul li a {
	display: block;
	font-size: 13px;
	color: #fff;
	text-align: center;
	width: 70px;
	height: 70px;
	line-height: 70px;
}

#quick_right_menu ul li.white a {
	color: #aaa;
}

#quick_right_menu ul li:first-child a {
	position: relative;
}

#quick_right_menu ul li:first-child a div:first-child {
	position: absolute;
	top: -5px;
	left: 7px;
}

#quick_right_menu ul li:first-child a div:last-child {
	position: absolute;
	top: 12px;
	left: 21px;
}

.right_today {
	display: block;
	font-size: 13px;
	color: #fff;
	text-align: center;
	width: 70px;
	height: 70px;
	line-height: 16px;
	position: relative;
}

.right_today div:first-child {
	position: absolute;
	top: 22px;
	left: 7px;
}

.right_today div:last-child {
	position: absolute;
	top: 35px;
	left: 22px;
}